* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    }
    #landing {
      height: 100vh;
      background-image: url(Images/chuttersnap-fN603qcEA7g-unsplash.jpg);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      color: white;
    }
    .header {
      height: 100vh;
      background-color: rgba(10, 40, 60, 0.7);
    }
    nav {
       display: flex;
       justify-content: space-between;
    }
    nav ul li {
       display: inline-block;
       margin: 10px;
    }
    nav ul li a:link, a:visited {
       color: white;
       text-transform: capitalize;
    }
    .logo h1 {
       letter-spacing: 3px;
       margin: 10px;
      font-size: 20px;
    }
    .container {
       height: 90vh;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .center {
       text-align: center;
       position: relative;
       bottom: 10vh;
       padding: 0px 3vw;
    }
    .center h1 {
        font-size: 8vh;
        margin-bottom: 4vh;
    }
    .center h3 {
       font-size: 5vh;
       margin-bottom: 10vh;
    }
    .center a:link, a:visited {
        border: 2px solid white;
       padding: 15px 20px ;
       font-size: 1.5em;
    }
    #services {
        height: 150vh;
        background-color: #f4f4f3;
        padding-top: 10vh;
        text-align: center;
    }
    #services h1 {
       font-size: 6vh;
       text-transform: capitalize;
       margin-bottom: 5vh;
    }
    .section1 {
        display: flex;
        justify-content: space-around;
         margin-bottom: 5vh;
    }
    .section1 div {
        width: 25%;
    }
    .section2 {
       display: flex;
       justify-content: space-around;
    }
    .section2 div {
       width: 25%;
    }
    .fa-solid {
       color: turquoise;
       font-size: 25px;
       margin-bottom: 10px;
    }
    .section1 div {
        border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
        padding: 30px;
    }
    .section2 div {
       border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
        padding: 30px;
    }
    .About-us {
       display: flex;
       justify-content: space-between;
    }
    .image {
       background-image: url(images/you-x-ventures-Oalh2MojUuk-unsplash.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
        height: 80vh;
         width: 50%;
    }
    .paragraph{
        width: 50%;
         padding: 50px;
    }
    .paragraph h1 {
         font-size: 36px;
        margin-bottom: 3vh;
    }
    .paragraph p {
       font-size: 16px;
       font-weight: 500;
    }
    .margin {
       height: 10vh;
    }
    .paradox {
        height: 40vh;
        background-image: url(Images/banner-one.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centerText {
       background-color: rgba(10, 40, 60, 0.7);
       height: 40vh;
       text-align: center;
       padding-top: 5vh;
    }
    .centerText h1 {
       margin-bottom: 5vh;
    }

    